<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>
<body>
<nav th:if="${loggedIn}">
    <a href="/test">Test Page</a>
</nav>

<h1>Welcome home page</h1>

<p>Welcome to the homepage</p>
<p>Vigoliet was here</p>



<p th:if="${loggedIn}">
    Username:
    <b th:text="${username}"></b>
</p>

<form action="/logout" method="post" th:if="${loggedIn}">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"/>

    <input type="submit" value="Logout">
</form>

<p th:unless="${loggedIn}">
    <a href="/login">Log in</a>
</p>



</body>
</html>