<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Cognito Home</title>
</head>
<body>

<h1>Spring Cognito Home</h1>

<p>This is my home page, welcome home!</p>

<div sec:authorize="isAuthenticated()">
    <div class="box">
        Hello, <strong th:text="${#authentication.name}"></strong>!

        <form action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button type="submit">Log out</button>
        </form>
    </div>
</div>

<div sec:authorize="isAnonymous()">
    <ul class="box">
        <li>
            <a th:href="@{/oauth2/authorization/cognito}">Log in with Amazon Cognito</a>
        </li>
        <li>
            <a href="/sign-up">Sign up</a>
        </li>
    </ul>
</div>


</body>
</html>