<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Cognito Sign Up</title>
</head>
<body>
<h1>Spring Cognito Sign up</h1>
<p>This is my sign-up page, welcome!</p>

<form th:action="@{/sign-up}" th:object="${signUp}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <fieldset>
        <label for="username">Username: </label>
        <input type="text" th:field="*{username}" id="username">
    </fieldset>
    <fieldset>
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password">
    </fieldset>

    <fieldset>
        <label for="email">Email: </label>
        <input type="email" th:field="*{email}" id="email">
    </fieldset>

    <button type="submit">Sign up</button>
</form>


</body>
</html>